{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Paloma uruguaia enterprises<br />
    Rua da ave, 1111<br />
    <abbr title="Telefone">Tel:+598 9956445245</abbr>
    40000
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@palomaenterprises.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Vendas@palomaenterprises.com</a>
</address>

{% endblock %}
